<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>

<h2>Edit user</h2>

<form action="#" th:action="@{/admin/user_update}" th:object="${users}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <br/>
    <label for="name">Last name</label>
    <input type="text" th:field="*{last_name}" id="lastName" placeholder="Last name">
    <br/>
    <label for="name">Age</label>
    <input type="number" th:field="*{age}" id="age" placeholder="Age">
    <br/>
    <label for="name">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">
    <br/>
    <label for="name">Username</label>
    <input type="text" th:field="*{username}" id="username" placeholder="Username">
    <br/>
    <label for="name">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <br/>
    <label>Roles:
        <input type="checkbox" name="roles"
               th:each="role : ${roles}"
               th:text="${role.name}"
               th:value="${role.id}"
               th:field="*{roles}"/>
    </label>

    <br/>
    <p><input type="submit" value="Edit user"></p>
    <br/>
    <p><a href="/logout">Logout</a> </p>
</form>

</body>
</html>